@import '@/assets/styles/variables.scss';

.purple-box {
  background: $background-purple;
  border-bottom: 1px solid $border-purple;
  border-top: 1px solid $border-purple;

  @media only screen and (min-width: $mid-size-device-breakpoint) {
    border: 1px solid $border-purple;
    border-radius: 3px;
    box-shadow: 5px 6px 0px $shadow-purple;
  }
}

.pink-box {
  background: $background-pink;
  border-top: 1px solid $border-pink;
  border-bottom: 1px solid $border-pink;

  @media only screen and (min-width: $mid-size-device-breakpoint) {
    border: 1px solid $border-pink;
    border-radius: 3px;
    box-shadow: 5px 6px 0px $shadow-pink;
  }
}

.green-box {
  background: $background-green;
  border-top: 1px solid $border-green;
  border-bottom: 1px solid $border-green;

  @media only screen and (min-width: $mid-size-device-breakpoint) {
    border: 1px solid $border-green;
    border-radius: 3px;
    box-shadow: 5px 6px 0px $shadow-green;
  }
}

.blue-box {
  background: $background-blue;
  border-top: 1px solid $border-blue;
  border-bottom: 1px solid $border-blue;

  @media only screen and (min-width: $mid-size-device-breakpoint) {
    border: 1px solid $border-blue;
    border-radius: 3px;
    box-shadow: 5px 6px 0px $shadow-blue;
  }
}
