$mid-size-device-breakpoint: 600px;
$large-device-breakpoint: 1920px;

$text-grey: #383737;

$fuschia: #FF00FF;
$pink: #fc3598;

$stolen-purple: #a404f4;
$plum: #932afc;

$eighties-ski-jacket: #00c9c9;
$teal: #0eeded;

$background-pink: #fce5fc;
$border-pink: $fuschia;
$shadow-pink: $pink;

$background-purple: #f3eafc;
$border-purple: $stolen-purple;
$shadow-purple: $plum;

$background-blue: #eafcfc;
$border-blue: $eighties-ski-jacket;
$shadow-blue: $teal;

$background-green: #edfced;
$border-green: #03b209;
$shadow-green: #04ed0c;
